.listItem {
  border: 1px solid #e57439;
  flex: 0 0 auto;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 25px;
}

.listItem__img {
  cursor: pointer;
}

.info {
  padding: 10px 0;
}

.listItem__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}

.info__title {
  font-size: 25px;
  font-weight: 400;
}

.info__subtitle {
  font-size: 20px;
  width: 300px;
  word-wrap: wrap;
}

.options-link {
  color: white;
}
.options-link__info {
  font-size: 30px;
}

.info-link {
  color: white;
  text-decoration: none;
}
