.app {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
